.Home {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas:
        "username username"
        "chatroom-humans chatroom-robots";
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3px;
    color-scheme: dark;
    background-color: #3b3b3b;
}

.username {
    grid-area: username;
    /*FIXME: We have duplicate css values. (Like Below) Use CSS variables.*/
    color: var(--user-username-color);
}

.chatroom-humans {
    grid-area: chatroom-humans;
}

.chatroom-robots {
    grid-area: chatroom-robots;
}
